.login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caixa-login{
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color:rgba(0, 0, 0, 0.75);
}
#caixa-login form{
    display: flex;
    flex-direction: column;
}
#caixa-login h1{
    padding-bottom: 40px;
    text-shadow: 0px 0px 10px black;
}
#caixa-login input{
    padding: 8px;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.473);
    outline: none;
    margin-bottom: 5px;
    width: 328px;
    display: flex;
    align-self: center;
}
#caixa-login label{
    width: 328px;
    display: flex;
    align-self: center;
}
#botoes-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
}
#botoes-login button{
    width: 320px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
    border: 1px solid black;
}
#entrar-login{
    background-color:  #7e008f;
}
#criar-conta-login{
    background-color: #062091;
}